:root {
    --color-white: white;
    --color-yellow: #f4ce45e8;
    --color-dark:#1c1a18;
    --text-color-dark: #1C2139;
    --color-grey: #505050;
  }
  
  
  html, body {
    background-color: rgb(28, 26, 24);
  }
  
  .grey-block {
      width: 100%;
    background-color: #505050;
      display: flex;
      align-items: start;
    justify-content: center;
  }
  
  .black-block {
      width: 100%;
    background-color: #1c1a18;
      display: flex;
      align-items: start;
    justify-content: center;
  }
  
  .service-diagram {
    padding-top: 70px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .service-container {
    padding-top: 75px;
      width: 100%;
      display: flex;
      align-items: start;
    justify-content: center;
  }
  
  .service-container h2 {
    margin-bottom: 30px;
  }
  
  .service-container h1 {
    font-weight: 500px;
    font-family: "Raleway", sans-serif;
    color: var(--color-yellow);
  }
  
  .service-block h3 {
    color: var(--color-yellow);
  }
  
  .service-block ul {
    padding-left: 20px;
  }

  .service-block li::before {
    font-weight: bold;
    content: "– ";
    color: var(--color-yellow)
  }
  
  .service-block {
      width: 70%;
      height: 70%;
    margin-top: 0px;
  }
  
  .service-block h2{
      font-size: 3rem;
      font-weight: 300;
      position: relative;
      
  }
  
  .services-background-top {
    margin-top: 0px !important;
  }
  
  .service-block p{
      position: relative;
      margin-top: 10px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
  
  .service-container .services-background-hex {
    top: 25%; left: 0;
    height: 50%;
    width: 100%;
  }
  
  .services-background-hex-svg {
    top: 25%;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
  }
  
  .services-background-top {
    z-index: 2;
  }
  
  li {
    font-size: 1.2em;
    
  }
  
  li.tabbed {
    margin-left: 30px;
  }
  
  
  /* ==================================================== Navbar ================================================================ */
  
  nav {
    top: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 75px;
    line-height: 75px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: rgb(28, 26, 24);
    z-index: 100;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  
  .nav-left {
    margin-left: 5em;
  }
  
  .nav-right {
    margin-right: 7em;
  }
  
  nav ul a {
    font-size: 1.6rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: rgb(239 239 239);
  }
  
  nav ul a:hover {
    color: var(--color-yellow);
  }
  
  nav ul li {
    padding: 0px 10px;
  }
  
  .brand-logo img {
    height: 50px;
    width: auto;
    margin-top: 12.5px;
  }
  
  .icon-fixed-small {
    position: fixed;
    top: 12.5px;
    right: 35px;
  }
  
  .icon-fixed-small img {
    width: 50px;
    height: 50px;
  }
  
  @media only screen and (max-width: 700px) {
    nav {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }