:root {
  --color-white: white;
  --color-yellow: #e4c040;
  --color-dark: #1c1a18;
  --text-color-dark: #1c2139;
  --color-grey: #3a3637;
}

.nav-right .right li ul {
  background: var(--color-dark);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in;
  width: min-content;
  box-shadow: 2px 3px 5px #111111;
}

.nav-right .right li:hover > ul,
.nav-right .right li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-right .right li ul li {
  width: 100%;
  white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
  .nav-right .right li ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    box-shadow: none;
    width: 100%;
  }
}

.container li {
  font-size: 1.2em;
}

.container li.tabbed {
  margin-left: 30px;
}

.grey-block {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.black-block {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.service-diagram {
  padding-top: 70px;
  padding-bottom: 50px;
  display: block;
  margin-left: -80px;
  margin-right: -80px;
}

.service-container {
  padding-top: 75px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.service-container h2 {
  margin-bottom: 30px;
}

.service-container h1 {
  font-weight: 500px;
  font-family: "Spartan", sans-serif;
  color: var(--color-yellow);
}

.service-block h3 {
  color: var(--color-yellow);
}

.service-block ul {
  padding-left: 20px;
}

.service-block li::before {
  font-weight: bold;
  content: "– ";
  color: var(--color-yellow);
}

.service-block {
  width: 70%;
  height: 70%;
  margin-top: 0px;
}

.service-block h2 {
  font-size: 3rem;
  font-weight: 300;
  position: relative;
}

.services-background-top {
  margin-top: 0px !important;
}

.service-block p {
  position: relative;
  margin-top: 10px;
  font-weight: 300;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.service-container .services-background-hex {
  top: 25%;
  left: 0;
  height: 50%;
  width: 100%;
}

.services-background-hex-svg {
  top: 25%;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
}

.services-background-top {
  z-index: 2;
}

.service-header {
  background-color: #eeeeee;
  color: #111111;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-header .service-block {
  height: auto;
}

.service-header h2 {
  color: #111111;
  font-weight: bolder;
}

.service-header p {
  padding-left: 50px;
}

hr {
  border-color: var(--color-yellow);
}

.before-li {
  margin-left: 60px;
  font-weight: bold;
}

span.yellow-text {
  color: var(--color-yellow);
}

span.emphasized-text {
  color: var(--color-white);
}

.services-triangle-right {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.triangle {
  z-index: 5;
  position: absolute;
  top: 30%;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.triangle-right-2 {
  top: 300%;
}

.triangle-left {
  top: 175%;
}

.workflow {
  margin-top: 40px;
}

.service-block li::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-image: url("../assets/icons/HEX 1.svg");
  color: var(--color-yellow);
}

.service-block li {
  padding-top: 15px;
}

hr {
  margin: 35px -30px;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 50px;
}

a {
  color: var(--color-yellow);
}

@media only screen and (min-width: 993px) {
  .container {
    width: 83%;
  }
}

#ra-background {
  background-image: url("../assets/background images/R&A background.png");
  background-size: 100%;
}

#im-background {
  background-image: url("../assets/background images/IM background.png");
  background-size: 100%;
}
