:root {
  --color-white: white;
  --color-yellow: #e4c040;
  --color-dark: #1c1a18;
  --text-color-dark: #1c2139;
  --color-grey: #3a3637;
}

.nav-right .right li ul {
  background: var(--color-dark);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in;
  width: min-content;
  box-shadow: 2px 3px 5px #111111;
}

.nav-right .right li:hover > ul,
.nav-right .right li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-right .right li ul li {
  width: 100%;
  white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
  .nav-right .right li ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    box-shadow: none;
    width: 100%;
  }
}

.container li {
  font-size: 1.2em;
}

.container li.tabbed {
  margin-left: 30px;
  padding-top: 0;
}

.grey-block {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.black-block {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.service-diagram {
  padding-top: 70px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width:90vw;
}

.service-diagram.om{
  margin-top: 75px;
  width:60vw;
}

.service-container {
  padding-top: 75px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.service-container h2 {
  margin-bottom: 30px;
}

.service-container h1 {
  font-weight: bold;
  font-family: "Spartan", sans-serif;
  color: var(--color-yellow);
  font-size: 50px; /*font-size*/;
}

h1, h2, h4, h5 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

.service-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 32px; /*font-size*/
}

.service-block h3 {
  color: var(--color-yellow);
}

.service-block ul {
  padding-left: 20px;
}

.service-block li::before {
  font-weight: bold;
  content: "– ";
  color: var(--color-yellow);
}

.service-block li {
  font-size: 28px; /*font-size*/
}

.service-block {
  width: 70%;
  height: 70%;
  margin-top: 0px;
}

.service-block h2 {
  font-size: 3rem;
  font-weight: 300;
  position: relative;
}

.services-background-top {
  margin-top: 0px !important;
}

.service-block p {
  position: relative;
  margin-top: 10px;
  font-weight: 300;
  font-size: 32px; /*font-size*/
  font-family: "Roboto", sans-serif;
}

.service-container .services-background-hex {
  top: 25%;
  left: 0;
  height: 50%;
  width: 100%;
}

.services-background-hex-svg {
  top: 25%;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
}

.services-background-top {
  z-index: 2;
}

.service-header {
  background-color: #eeeeee;
  color: #111111;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-header h2 {
  color: #111111;
  font-weight: bolder;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  font-size: 50px; /*font-size*/
  z-index: 2;
  position: relative;
}

.background-hex::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: -50px;
  left:-80px;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  background-image: url("../assets/misc\ assets/HEX\ 2.svg");
}

.service-header p {
  margin-top: 50px;
  padding-left: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 36px; /*font-size*/
}

hr {
  border-color: var(--color-yellow);
}

.service-block p.before-li, .before-li {
  margin-left: 60px;
  font-weight: bold;
}

.service-block .yellow-text {
  color: var(--color-yellow) !important;
  font-weight: bold;
}

span.emphasized-text {
  color: var(--color-white);
}

.services-triangle-right {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
}

.triangle {
  z-index: 5;
  position: absolute;
  top: 30%;
  left: 0;
  height: 100%;
  width: 100%;
}

.triangle-right-2 {
  top: 300%;
}

.triangle-left {
  top: 175%;
}

.polygon-triangle-stroke-color {
  stroke-width: 0.25;
  stroke: #f4ce45e8;
  fill: none;
}

.workflow {
  margin-top: 40px;
  margin-bottom: 40px;
}

.service-block li::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  color: var(--color-yellow);
}

.service-block li {
  padding-top: 15px;
}

hr {
  margin: 35px -30px;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 50px;
}

a {
  color: var(--color-yellow);
}

.service-block p.margin-top-om {
  margin-top: 50px;
}

.information-grid {
  display: flex;
  flex-direction: column;
}

.information-row {
  display: flex;
  flex-direction: row;
  margin-right: -20px;
  margin-left:  -20px;
}

.information-cell {
  width: 55%;
  height: 100%;
  font-size: 2rem;
}

.information-cell:last-child {
  width: 45%;
}

.information-cell p {
  padding-left: 30px;
  font-size: 28px;
}

.information-cell h4 {
  color: var(--color-yellow);
  font-size: 32px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.plus::before {
  display: inline-block;
  content: "+";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  /* background-image: url("../assets/misc\ assets/HEX\ 1.svg"); */
  color: var(--color-yellow);
}

.hex::before {
  display: inline-block;
  content: "";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-image: url("../assets/misc\ assets/HEX\ 2.svg");
  color: var(--color-yellow);
}

.content-link {
  text-decoration: underline;
  font-weight: bold;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 83%;
  }
}

#ra-background {
  background-image: url("../assets/background images/R&A background.png");
  background-size: 100%;
}

#im-background {
  background-image: url("../assets/background images/IM background.png");
  background-size: 100%;
}

#om-background {
  background-image: url("../assets/background images/O&M\ background.png");
  background-size: 100%;
}

@media only screen and (max-width: 1500px) {
  .service-block p {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1250px) {
  .service-header h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .service-block p {
    font-size: 22px;
  }
  .service-header h2 {
    font-size: 30px;
  }

  .service-header {

    height: initial;
  }
}

@media only screen and (max-width: 800px) {
  .service-header p {
    padding-left: 0px;
  }
  .background-hex::before {
    background-size: 75px 75px;
    top: -20px;
    left: -50px;
  }
}

@media only screen and (max-width: 750px) {
  .service-header h2 {
    font-size: 25px;
  }

}

@media only screen and (max-width: 600px) {
  .service-header h2 {
    font-size: 20px;
  }
  .service-block p {
    font-size: 16px;
  }

  .information-cell h4 {
    font-size: 16px;
  }

  .information-cell p {
    padding-left: 5px;
    font-size: 12px;
  }



}

@media only screen and (max-width: 450px) {
  .service-block li {
    font-size: 20px;
  }

  .service-block p.before-li, .before-li {
    margin-left: 0px;
  }

  .service-diagram.om{
    display: none;
  }
}