:root {
  --color-white: white;
  --color-yellow: #e4c040;
  --color-dark: #1c1a18;
  --text-color-dark: #1c2139;
  --color-grey: #3a3637;
}

html,
body {
  width: 100%;
  height: 100%;
  color: rgb(239 239 239);
  background-color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: var(--color-white);
}

main {
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

section {
  min-height: auto;
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
}

section:nth-child(even) {
  background-color: var(--color-grey);
}

section:nth-child(odd) {
  background-color: var(--color-dark);
}

section h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 69.3px;
  margin-bottom: 25.2px;
  font-family: "Spartan", sans-serif;
  color: var(--color-white);
  text-transform: uppercase;
}

.polygon-yellow {
  fill: var(--color-yellow);
}

.polygon-dark {
  fill: var(--color-dark);
}

svg {
  pointer-events: none;
}

.svg-color {
  -webkit-filter: brightness(0) saturate(100%) invert(84%) sepia(100%)
    saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%)
    hue-rotate(324deg) brightness(99%) contrast(104%);
}

img.title-icon {
  height: 1em;
  width: auto;
}

@media only screen and (max-width: 1000px) {
  section h2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 800px) {
  section {
    min-height: auto;
  }

  section h2 {
    text-align: center;
  }
}

h1,
h2,
h3 {
  font-family: "Spartan", sans-serif;
  color: var(--color-white);
}

.btn {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.btn:hover,
.btn:active {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.hide {
  opacity: 0;
}

/* ==================================================== Navbar ================================================================ */

nav {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--color-dark);
  z-index: 100;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.nav-left {
  margin-left: 5rem;
  height: inherit;
}

.brand-logo img {
  height: 30px;
  margin-top: 10px;
  width: auto;
  user-select: none;
}

#small-logo {
  padding-left: 31px;
}

@media (prefers-reduced-motion: no-preference) {
  .brand-logo {
    opacity: 1;
    transform: translateX(0);
    -webkit-transition: transform 2s ease-out, opacity 2s ease-out;
    -moz-transition: transform 2s ease-out, opacity 2s ease-out;
    -ms-transition: transform 2s ease-out, opacity 2s ease-out;
    -o-transition: transform 2s ease-out, opacity 2s ease-out;
    transition: transform 2s ease-out, opacity 2s ease-out;
  }

  .fade-out {
    opacity: 0;
    transform: translateX(0px);
    -webkit-transition: transform 2s ease-out, opacity 2s ease-out;
    -moz-transition: transform 2s ease-out, opacity 2s ease-out;
    -ms-transition: transform 2s ease-out, opacity 2s ease-out;
    -o-transition: transform 2s ease-out, opacity 2s ease-out;
    transition: transform 2s ease-out, opacity 2s ease-out;
  }
}

.nav-right {
  margin-right: 7rem;
  height: inherit;
}

nav ul a {
  font-size: 1.3rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: rgb(239 239 239);
}

nav ul a:hover {
  color: var(--color-yellow);
}

nav ul li {
  padding: 0px 10px;
}

#nav-menu-checkbox,
.nav-menu-toggle {
  display: none;
}

.nav-menu-toggle {
  width: 24px;
  height: inherit;
  position: absolute;
  left: 90%;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-menu-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--color-yellow);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-menu-toggle span:nth-child(1) {
  top: 10px;
}

.nav-menu-toggle span:nth-child(2),
.nav-menu-toggle span:nth-child(3) {
  top: 18px;
}

.nav-menu-toggle span:nth-child(4) {
  top: 26px;
}

@media only screen and (max-width: 992px) {
  nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
  }

  nav ul li {
    text-align: center;
    width: 100%;
    float: none;
  }

  .nav-left {
    margin: 0 auto;
  }

  .brand-logo img {
    height: 30px;
    margin-top: 5px;
    width: auto;
  }

  .nav-right {
    margin-top: 40px;
    margin-right: auto;
    width: 100%;
  }

  .nav-right .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    background-color: inherit;
  }

  .nav-right .right li,
  .nav-right .right li a {
    padding: 0;
  }

  #nav-menu-checkbox-label {
    left: 90%;
    position: absolute;
    width: 24px;
    height: inherit;
  }

  .nav-menu-toggle {
    clear: both;
    cursor: pointer;
    display: block;
    padding-right: 12px;
    margin: 0;
    font-size: 1.3rem;
    user-select: none;
    height: inherit;
  }
  .nav-menu-toggle:hover {
    color: var(--color-yellow);
  }

  #nav-menu-checkbox:not(:checked) ~ div.nav-right > ul.right {
    width: 0;
    overflow: hidden;
    box-shadow: unset;
    background-color: #1b1917;
  }

  #nav-menu-checkbox:checked ~ div.nav-right > ul.right {
    width: 100vw;
    background-color: #1b1917;
    box-shadow: -2px 3px 5px #111111;
  }

  #nav-menu-checkbox:checked ~ label > .nav-menu-toggle {
    color: var(--color-yellow);
  }

  #nav-menu-checkbox:checked ~ label > .nav-menu-toggle span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-menu-checkbox:checked ~ label > .nav-menu-toggle span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-menu-checkbox:checked ~ label > .nav-menu-toggle span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-menu-checkbox:checked ~ label > .nav-menu-toggle span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

@media only screen and (max-width: 1000px) and (prefers-reduced-motion: no-preference) {
  #nav-menu-checkbox:not(:checked) ~ div.nav-right > ul.right,
  #nav-menu-checkbox:checked ~ div.nav-right > ul.right {
    transition: width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@media only screen and (max-width: 720px) {
  #nav-menu-checkbox-label {
    left: 85%;
  }
}

/* ==================================================== Hero ================================================================ */

.hero {
  padding-top: 75px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  width: auto;
  height: 85%;
}

.hero-logo-medium-small-device {
  display: none;
}

.hero-logo-large-device {
  padding-right: calc(6% + 0.1vw);
  padding-top: 15%;
  display: unset;
}

.hero-tagline-medium-small-device {
  padding-top: 48px;
}

.arrow-wrapper {
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.arrow {
  top: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid var(--color-yellow);
  border-right: 5px solid var(--color-yellow);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media only screen and (max-width: 1600px) {
  .hero img {
    width: 70%;
  }
  .hero-logo-large-device {
    padding-right: calc(7% + 0.1vw);
  }
}


@media only screen and (max-width: 1300px) {
  .hero img {
    width: 70%;
  }
  .hero-logo-large-device {
    padding-right: calc(10% + 0.1vw);
  }
}


@media only screen and (max-width: 1100px) {
  .hide-svg {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .hero {
    min-height: 80vh;
    justify-content: center;
  }

  .hero img {
    width: 60%;
    height: auto;
  }

  .arrow-wrapper {
    margin-bottom: 10%;
  }

  .hero-logo-large-device {
    display: none;
  }
  .hero-logo-medium-small-device {
    display: unset;
  }
}

/* ==================================================== services ================================================================ */

.services {
  color: var(--text-color-dark);
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services h2 {
  padding-top: 0;
  margin-bottom: 72px;
}

.icon-inline {
  position: relative;
  top: 7px;
  margin-top: 5px;
  height: 1em;
  width: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: auto;
  width: 100%;
  z-index: 6;
  padding: 0 5%;
}

.card {
  border: 1px var(--color-yellow) solid;
  --container-height: 40vh;
  --container-width: 100vw;
  background-color: var(--color-dark);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0.5vw;
  flex: 1 1 0;
  width: 0;
  max-width: 600px;
}

.card-icons {
  -webkit-filter: brightness(0) saturate(100%) invert(84%) sepia(100%)
    saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%)
    hue-rotate(324deg) brightness(99%) contrast(104%);
  width: 25%;
  max-height: 25%;
  margin-top: 20px;
}

.card-text {
  color: var(--color-white);
  padding-left: 18px;
  padding-right: 20px;
  text-align: left;
  font-size: calc(1rem + 0.3vw);
}

.card .btn {
  margin-bottom: 40px;
  border: 1px solid var(--color-dark);
  align-self: flex-end;
  margin: auto 25px 25px auto;
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.card .btn:hover,
.card .btn:active {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.card h3 {
  font-size: calc(1rem + 0.5vw);
  color: var(--color-yellow);
  text-transform: uppercase;
  white-space: nowrap;
  margin: 20px;
}

svg.services-background-top {
  z-index: -1;
  margin-top: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.services-background-hex {
  background-image: url(assets/hex_pattern_45_opacity.svg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.services-background-bottom {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 1920px) {
  .card {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1440px) {
  .services {
    min-height: 85h;
  }

  .services h2 {
    margin-bottom: 36px;
  }

  .card-container {
    margin: 0;
    padding: 12px;
  }

  .card h3 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 800px) {
  .services {
    padding-bottom: 25px;
    height: auto;
  }

  .services h2 {
    margin-bottom: 0;
    padding-top: 36px;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: 100%;
  }

  .card {
    height: 30%;
    width: 100%;
    margin: 12px auto;
  }

  .card h3 {
    font-size: 1.2rem;
  }
}

/* ==================================================== about ================================================================ */

#about {
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 128% 80%;
  position: relative;
  font-size: 1.5rem;
}

.about p {
  width: 80%;
  font-size: 1.4rem;
}

.about-background-whole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-text-container {
  position: relative;
  padding-top: 8.5%;
  margin-top: 0;
  width: 50%;
  margin: 0 40% 0 10%;
  z-index: 6;
}

.about-background-whole {
  fill: var(--color-dark);
}

@media only screen and (min-width: 1100px) {
  .about {
    background-image: url(../assets/datacenter.jpg);
  }

  #about {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1100px) {
  .about-text-container {
    padding-bottom: 72px;
  }

  .about h2 {
    text-align: left;
    margin-top: 24px;
  }

  .about-text-container {
    margin: 0;
    overflow: hidden;
    padding: 10px 10% 10vh 10%;
    width: 100%;
  }

  .about p {
    width: 100%;
  }
}

/* ==================================================== contact ================================================================ */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem;
}

#form-container,
#why-nodehex,
.hex-container {
  z-index: 6;
  padding: 13vh 48px 0 0;
  width: 100%;
}

#why-nodehex {
  grid-column-start: 2;
}

#why-nodehex p {
  font-size: 1.5rem;
}

.contact-background {
  z-index: 5;
  position: absolute;
  top: -10%;
  left: 0;
  height: 110%;
  width: 100%;
}

#form-container {
  background-color: unset;
  padding-right: 10%;
  grid-column-start: 3;
}

.contact h3 {
  font-size: 1.6rem;
  margin: 0;
}

.contact input,
.contact textarea {
  color: var(--color-white);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contact input[type="text"],
contact input[type="email"] {
  margin-bottom: 15px;
}

.contact textarea {
  margin-top: 15px;
}
.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
  border-bottom: 1px solid var(--color-yellow) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--color-yellow) !important;
  box-shadow: 0 1px 0 0 var(--color-yellow) !important;
}

.contact textarea {
  height: 10rem;
  border: 1px solid #9e9e9e !important;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.contact textarea:focus {
  border: 1px solid var(--color-yellow) !important;
}

.contact .btn {
  margin-top: 8px;
  float: right;
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.contact .btn:hover,
.contact .btn:active {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

#hex-svg {
  /* height: 40vh;
  width: 30vw; */
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -o-object-fit: contain;
  object-fit: contain;
}

.contact .hex-container {
  width: 25vw;
  margin-right: 10%;
}

@media only screen and (max-width: 1500px) {
  #why-nodehex p {
    font-size: 1.3rem;
  }

  #form-container {
    padding-right: 2%;
  }
}
@media only screen and (max-width: 1400px) {
  .contact {
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0;
  }
  #content-polygon {
    display: none;
  }
  #why-nodehex,
  #form-container {
    grid-column-start: auto;
    height: auto;
    margin: auto;
    padding: 10px 10% 10vh 10%;
  }
  #form-container {
    background-color: var(--color-dark);
  }
  .contact h2 {
    text-align: left;
  }

  .contact .hex-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .contact {
    height: 115vh;
  }

  #form-container,
  #why-nodehex {
    height: auto;
    margin: auto;
    padding: 50px 24px 0 24px;
  }

  #form-container {
    background-color: var(--color-dark);
  }
}

/* ==================================================== footer ================================================================ */

footer {
  padding: 0 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--color-dark);
}

footer div {
  margin-top: 20px;
  margin-bottom: 24px;
}
footer h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: var(--color-yellow);
  vertical-align: text-top;
  display: inline-block;
}

footer ul {
  margin-top: 5px;
}

footer ul li a {
  font-size: 0.9rem;
  color: rgb(239 239 239);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

footer ul li a:hover {
  color: var(--color-yellow);
}

.footer-left {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.footer-right {
  margin-right: 7rem;
}

#icon-inline-footer {
  position: relative;
  height: 2rem;
  width: auto;
  padding-right: 7px;
  margin-top: 0;
  display: inline-block;
  vertical-align: text-top;
}

.footer-tagline {
  margin-top: 30;
  height: 100px;
  width: 150px;
}

@media only screen and (max-width: 800px) {
  footer {
    display: none;
  }
}

/* ==================================================== cookies ================================================================ */

#cookies {
  color: var(--color-yellow);
  padding: 20px;
}

#cookies h4 {
  margin-top: 0;
}

#cookies {
  display: none;
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 90%;
  border-radius: 5px;
  background-color: var(--color-grey);
  border: solid 1px var(--color-yellow);
  z-index: 100;
}

#cookies button {
  background-color: var(--color-yellow);
  border: solid 1px var(--color-dark);
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: bold;
  color: var(--color-dark);
  margin: 0px 10px;
}
