:root {
  --color-white: white;
  --color-yellow: #f4ce45e8;
  --color-dark: #1c1a18;
  --text-color-dark: #1c2139;
  --color-old-grey: #505050;
  --color-grey: #3a3637;
}

html,
body {
  width: 100%;
  height: 100%;
  color: rgb(239 239 239);
  background-color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: var(--color-white);
}

main {
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

section,
main {
  height: 100vh;
  min-height: auto;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
}

section:nth-child(even) {
  background-color: var(--color-grey);
}

section:nth-child(odd) {
  background-color: var(--color-dark);
}

section h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 69.3px;
  margin-bottom: 25.2px;
  font-family: "Spartan", sans-serif;
  color: var(--color-white);
  text-transform: uppercase;
}

.polygon-yellow {
  fill: var(--color-yellow);
}

.polygon-dark {
  fill: var(--color-dark);
}

@media only screen and (max-width: 1000px) {
  section {
    min-height: 100%;
  }

  section h2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 800px) {
  section {
    min-height: auto;
  }

  section h2 {
    text-align: center;
  }
}

h1 {
  font-family: "Spartan", sans-serif;
  color: var(--color-white);
}

svg {
  pointer-events: none;
}


.svg-color {
  -webkit-filter: brightness(0) saturate(100%) invert(84%) sepia(100%)
    saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%)
    hue-rotate(324deg) brightness(99%) contrast(104%);
}

.btn {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.btn:hover,
.btn:active {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: var(--color-dark);
}

/* ==================================================== Navbar ================================================================ */

nav {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--color-dark);
  z-index: 100;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.nav-left {
  margin-left: 5rem;
  height: inherit;
}

.nav-right {
  margin-right: 7rem;
  height: inherit;
}

nav ul a {
  font-size: 1.3rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: rgb(239 239 239);
}

nav ul a:hover {
  color: var(--color-yellow);
}

nav ul li {
  padding: 0px 10px;
}

.small-brand-logo img,
.brand-logo img {
  height: 30px;
  margin-top: 10px;
  width: auto;
}

.hide {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .small-brand-logo,
  .brand-logo {
    opacity: 1;
    transform: translateX(0);
    -webkit-transition: transform 2s ease-out, opacity 2s ease-out;
    -moz-transition: transform 2s ease-out, opacity 2s ease-out;
      -ms-transition: transform 2s ease-out, opacity 2s ease-out;
      -o-transition: transform 2s ease-out, opacity 2s ease-out;
          transition: transform 2s ease-out, opacity 2s ease-out;
  }

  .fade-out {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transition: transform 2s ease-out, opacity 2s ease-out;
    -moz-transition: transform 2s ease-out, opacity 2s ease-out;
      -ms-transition: transform 2s ease-out, opacity 2s ease-out;
      -o-transition: transform 2s ease-out, opacity 2s ease-out;
          transition: transform 2s ease-out, opacity 2s ease-out;
  }

}
.icon-fixed-small {
  position: fixed;
  top: 12.5px;
  right: 35px;
}

.icon-fixed-small img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 700px) {
  nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
  }
  .nav-left {
    margin: 0 auto;
  }
  .small-brand-logo img,
  .brand-logo img {
    height: 30px;
    margin-top: 5px;
    width: auto;
  }
}

/* ==================================================== Hero ================================================================ */

.hero {
  padding-top: 75px;
  font-family: "Spartan", sans-serif;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero .wrap {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.hero .left-hex {
  padding-top: 20px;
  height: 15rem;
  width: auto;
}

#title,
.hero h2 {
  padding-left: 25px;
  margin-top: 0px;
  font-size: 2.9rem;
}

#title {
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 4.2rem;
}

.hero #title span {
  color: var(--color-yellow);
}

.hero .wrap h2:last-of-type {
  margin-bottom: 0;
}

.arrow-wrapper {
  margin-bottom: 5%;
}

.arrow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid var(--color-yellow);
  border-right: 5px solid var(--color-yellow);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

#explore {
  color: rgb(239 239 239);
  background-color: rgba(0, 0, 0, 0);
  float: right;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 2.9rem;
}

#explore:hover,
#explore:active {
  color: var(--color-yellow);
}

#explore .chevron {
  color: var(--color-yellow);
}

@media only screen and (max-width: 1000px) {
  .hero .wrap {
    margin-top: 50%;
    margin-left: 24px;
  }
  .hero {
    min-height: 80vh;
  }
  .arrow-wrapper {
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .hero h2 {
    text-align: left;
  }
}
@media only screen and (max-width: 700px) {
  .hero .wrap {
    margin-top: 40%;
    margin-left: 18px;
  }

  #title {
    padding-left: unset;
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
  }

  .hero h2 {
    text-align: center;
    padding-left: unset;
    margin: 2rem 0;
    font-size: 2rem;
    line-height: normal;
  }

  #explore {
    display: none;
  }
}

/* ==================================================== services ================================================================ */

.services {
  color: var(--text-color-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 14% 12% 10%;
}

.services h2 {
  padding-top: 0;
}


.icon-inline {
  position: relative;
  top: 7px;
  margin-top: 5px;
  height: 1em;
  width: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  border: 1px var(--color-yellow) solid;
  width: 30%;
  height: 400px;
  background-color: var(--color-dark);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  color: var(--color-white);
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.card-icons {
  -webkit-filter: brightness(0) saturate(100%) invert(84%) sepia(100%)
    saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%)
    hue-rotate(324deg) brightness(99%) contrast(104%);
  height: 50%;
  width: 30%;
  margin-top: 20px;
}

.card .btn {
  margin-bottom: 40px;
  border: 1px solid var(--color-yellow);
  justify-content: center;
  align-items: center;
}

.card h5 {
  font-family: "Spartan", sans-serif;
  color: var(--color-yellow);
  text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {

}



@media only screen and (max-width: 700px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    height: 100%;
    padding-left: 5%;
  }

  .card {
    height: 30%;
    width: 100%;
  }

  .card-icons {
    padding-top: 10px;
  }


}

.service {
  max-width: 800px;
  min-height: 220px;
  -webkit-box-shadow: inset 4px 0 4px rgba(0, 0, 0, 0.148);
  box-shadow: inset 4px 0 4px rgba(0, 0, 0, 0.148);
  background-color: #f5f7f5;
  color: var(--text-color-dark);
  padding: 10px 25px;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 700px) {
  .services {
    padding-bottom: 25px;
  }

  .service {
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 285px;
  }
}

.services-content .content .service .btn {
  position: absolute;
  bottom: 0.6rem;
  right: 0.7rem;
}

.services .push-bottom {
  position: relative;
  height: 30%;
}

.service h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.service img {
  width: 100%;
  height: auto;
}

img.title-icon {
  height: 1em;
  width: auto;
}

svg.services-background-top {
  z-index: -1;
  margin-top: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.services-background-hex {
  background-image: url(assets/hex_pattern_45_opacity.svg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.services-background-bottom {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

/* ==================================================== about ================================================================ */

#about {
  min-height: 100vh;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 128% 80%;
  position: relative;
  font-size: 1.5rem;
}

.about p {
  width: 80%;
  font-size: 1.4rem;
}

.about-background-whole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-text-container {
  position: relative;
  padding-top: 8.5%;
  margin-top: 0;
  width: 50%;
  margin: 0 40% 0 10%;
  z-index: 6;
}

.about-background-whole {
  fill: var(--color-dark);
}

@media only screen and (min-width: 1060px) {
  .about {
    background-image: url(../assets/datacenter.jpg);
  }
}

@media only screen and (max-width: 1025px) {
  .about-text-container {
    padding-bottom: 72px;
  }
  .about h2 {
    text-align: left;
  }
}

@media only screen and (max-width: 900px) {
  .about-text-container {
    margin: 0;
    overflow: hidden;
    padding: 50px 24px 0 24px;
    width: 100%;
  }

  .about h2 {
    margin-top: 24px;
  }
  .about p {
    width: 100%;
  }
}

/* ==================================================== contact ================================================================ */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem;
}

#form-container,
#why-aeon,
.hex-container {
  z-index: 6;
  padding: 13vh 48px 0 0;
  width: 100%;
}

#why-aeon {
  grid-column-start: 2;
}

#why-aeon p {
  font-size: 1.5rem;
}

.contact-background {
  z-index: 5;
  position: absolute;
  top: -10%;
  left: 0;
  height: 110%;
  width: 100%;
}

#form-container {
  background-color: unset;
  padding-right: 10%;
  grid-column-start: 3;
}

.contact h3 {
  font-size: 1.6rem;
  margin: 0;
}

.contact input,
.contact textarea {
  color: var(--color-white);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contact input[type="text"],
contact input[type="email"] {
  margin-bottom: 15px;
}

.contact textarea {
  margin-top: 15px;
}
.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
  border-bottom: 1px solid var(--color-yellow) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--color-yellow) !important;
  box-shadow: 0 1px 0 0 var(--color-yellow) !important;
}

.contact textarea {
  height: 10rem;
  border: 1px solid #9e9e9e !important;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.contact textarea:focus {
  border: 1px solid var(--color-yellow) !important;
}

.contact .btn {
  margin-top: 8px;
  float: right;
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.contact .btn:hover,
.contact .btn:active {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

#hex-svg {
  /* height: 40vh;
  width: 30vw; */
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -o-object-fit: contain;
  object-fit: contain;
}

.contact .hex-container {
  width: 25vw;
  margin-right: 10%;
}

@media only screen and (max-width: 1500px) {
  #why-aeon p {
    font-size: 1.3rem;
  }

  #form-container {
    padding-right: 2%;
  }
}
@media only screen and (max-width: 1100px) {
  .contact {
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0;
  }
  #why-aeon,
  #form-container {
    grid-column-start: auto;
    height: auto;
    margin: auto;
    padding: 10px 10% 10vh 10%;
  }
  #form-container {
    background-color: var(--color-dark);
  }
  .contact h2 {
    text-align: left;
  }

  .contact .hex-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .contact {
    height: 115vh;
  }
  #form-container,
  #why-aeon {
    height: auto;
    margin: auto;
    padding: 50px 24px 0 24px;
  }

  #form-container {
    background-color: var(--color-dark);
  }
}
/* ==================================================== footer ================================================================ */
footer{
  padding: 10px 10% 10vh 10%;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 120px;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--color-dark);
}

.footer-1 {
  margin-left: 5rem;
}

.footer-3 {
  margin-right: 7rem;
}

.icon-inline-footer {
  position: relative;
  top: 7px;
  margin-top: 5px;
  height: 2rem;
  width: auto;
  padding-right: 7px;
}

footer h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  display: inline-block;
}

footer ul a {
  font-size: 1rem;
  color: rgb(239 239 239);
}

footer h2 {
  color: var(--color-yellow);
}

p.footer-tag {
  color: var(--color-yellow);
}