html, body {
  width: 100%;
  height: 100%;
  color: rgb(239 239 239);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: white;
}


/* ==================================================== Navbar ================================================================ */

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 75px;
  line-height: 75px;
  box-shadow: none;
  background-color: rgb(28, 26, 24);
  z-index: 100;
  transition: all;
  transition-duration: 0.2s;
}

nav.scrolled, nav .nav-wrapper i .scrolled, nav a.sidenav-trigger .scrolled, nav a.sidenav-trigger i .scrolled {
  background-color: #fff;
  border-bottom: solid 1px #d4d4d4;
}

.hero a {
  color: rgb(239 239 239);
  background-color: rgba(0,0,0,0);
  z-index: 100;
}

nav ul a {
  color: rgb(239 239 239);
}

nav ul a.scrolled {
  color: rgb(90 90 90);
}

.icon-inline {
  position: relative;
  top: 7px;
  margin-top: 5px;
  height: 1em;
  width: auto;
  /* 0080d1 */
}

.navbar-fixed {
  height: 0px;
}

nav svg {
  border-bottom: solid 1px white;
}

.brand-logo img {
  height: 50px;
  width: auto;
  margin-top: 12.5px;
}

nav ul a {
  font-size: 1.8rem;
}

nav ul li {
  padding: 0px 30px;
}

.icon-fixed-small {
  position: fixed;
  top: 12.5px;
  right: 35px;
}

.icon-fixed-small img {
  width: 50px; height: 50px;
}

.nav-svg {
  position: absolute;
  top: 0; left: 0;
}

/* ==================================================== Hero ================================================================ */

h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.sec-colour {
  color: #f4ce45e8;
  font-weight: bold;
  font-size: 4.2rem;
}

.svg-color {
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
}

.hero .chevron {
  font-size: 0.8em;
  color: #f4ce45e8;
}

.hero .wrap {
  display: flex;
  flex-direction: row;
}

.hero .right {
  text-align: left;
  padding-left: 25px;
}


.right {
  text-align: right;
}


.hero .right h2 {
  margin-top: 0px;
  color: rgb(239 239 239);
}

.hero .pusher {
  height: 40%;
}

.hero .push-right {
  width: 30%;
}


.hero .left-hex {
  padding-top: 20px;
  height: 15em;
  width: auto;
}

.svg-action-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}


@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
  .hero-text {
    max-width: 40%;
  }
}

.container {
  max-width: 1520px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color: green;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 75px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.hero h1 {
  margin: 0;
}

.hero .left {
  position: relative;
  width: 0%;
  height: 100%;
  /* background-color: rgba(256,256,256,0.3); */
}

.hero .side {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: rgba(256,256,256,0.3); */
}

.background-blur {
  position: absolute;
  background-color: rgb(28, 26, 24);
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(assets/scott-blake-x-ghf9LjrVg-unsplash.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-text-container .title {
  /* color: rgb(165, 60, 60); */
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero-text-background {
  /* background-color: rgba(0,0,0,0.7); */
  padding: 15px 50px;
  width: 90%;
  border-radius: 15px;
  /* -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.36);
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.36); */
}

.hero-letterbox {
  width: 100%;
  height: 120px;
  background-color: #1C2139;
}

svg {
  pointer-events:none;
}

.scroll-snap-container {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-snap-points-y: repeat(100%);
}

@media only screen and (max-width: 770px) and (min-width: 701px) {
    .hero-text-background {
    padding: 0 15px;
    width: 100%
  }
  .right h2 {
    font-size: 2.99rem;
  }
  .hero .push-right {
    width: 0;
  }

  .hero .pusher {
    height: 0;
  }

}
@media only screen and (max-width: 700px) {
  .hero-text-background {
    padding: 0;
  }

  .right {
    text-align: center;
    float: unset !important;
  }
  .hero .right {
    padding: 0px;
  }

  .hero .right .right {
    display: none;
  }

  .hero .push-right {
    width: 100%;
  }

  .hero .pusher {
    display: none;
  }
}


/* ==================================================== services ================================================================ */

.services {
  min-height: 100vh;
  width: 100%;
  /* height: 100%; */
  color: #1C2139;
  position: relative;
  display: inline-block;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-content {
  max-width: 80%;
}

@media only screen and (min-width: 1000px) {
.services-content {
    margin-right: 15%;
    max-width: 100%;
  }
}

.services-tabbing {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
}
@media only screen and (min-width: 700px) {
  .services-tabbing {
    display: flex;
    flex-direction: row;
  }
}

.services-tabbing .tabs {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  height: auto;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
  margin: 0;
}

.services-tabbing .tabs .indicator {
  background-color: rgba(0,0,0,0);
}

.services-tabbing .tabs .tab {
  height: 78px;
  flex-grow: 0;
}

.services-tabbing .tabs .tab a {
  background-color: #1c1a18;
  color: #f4ce45e8;
  height: 78px;
  text-align: center;
  line-height: 78px;
}


.services-tabbing .tabs .tab a.active {
  color: #1c1a18;
  background-color: #f4ce45e8;
}

.service {
  max-width: 800px;
  min-height: 220px;
  box-shadow: inset 4px 0 4px rgba(0, 0, 0, 0.148);
  background-color: #f5f7f5;
  color: #1C2139;
  padding: 10px 25px;
  height: 100%;
  position: relative;
}

@media screen and (max-height: 700px) {
  .services {
    padding-bottom: 25px;
  }
  .service {
    box-shadow: none;
    min-height: 285px;
  }
}

.btn {
  background-color: #1c1a18;
  color: #f4ce45e8;
}

.btn:hover {
  background-color: #f4ce45e8;
  color: #1c1c1c;
}

.btn {
  background-color: #f4ce45e8;
  color: #1c1c1c;
}
.btn:hover {
  background-color: #1c1c1c;
  color: #f4ce45e8;
}
.services-content .content .service .btn {
  position:absolute;
  bottom:0.6em;
  right:0.7em;
}

.services .push-bottom {
  position: relative;
  height: 30%;
}

.service h4 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.service img {
  width: 100%;
  height: auto;
}

.services h1 {
  text-align: left;
  font-weight: 350;
}

img.title-icon {
  height: 1em;
  width: auto;
}

svg.services-background-top {
  z-index: -1;
  margin-top: 42px;
  position: absolute;
  top: 0; left: 0;
}

.services-background-hex {
  background-image: url(assets/hex_pattern_45_opacity.svg);
  z-index: -1;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}

.services-background-bottom {
  z-index: 5;
  position: absolute;
  top: 50%; left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.services .flex-balancer {
  height: 100px;
}

/* ==================================================== about ================================================================ */

.about {
  min-height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 128% 80%;
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background-color: #1c1a18;
}
@media only screen and (min-width: 700px) {
  .about {
    background-image: url(assets/ian-battaglia-9drS5E_Rguc-unsplash.jpg);
  }
}

#why-aeon.about {
  background-image: none;
  background-color: #505050;
  min-height: 50%;
}

.about-background-whole {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about .container {
  position: relative;
  padding-top: 50px;
  z-index: 6;
  color: #f5f7f5;
}

.about .container .row {
  margin: 0;
}

.about-text {
  font-size: 1.5em;
}

/* ==================================================== contact ================================================================ */

.contact {
  padding-top: 10%;
  min-height: 100%;
  position: relative;
  background-color: #1c1a18;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}


.contact .container {
  padding-top: 50px;
}

@media only screen and (max-height: 1025px) {
  .contact {
    padding-top: 0;
  }
}

.contact .container h1 {
  margin-top: 0px;
}

.contact-background {
  z-index: 5;
  position: absolute;
  top: -10%; left: 0;
  height: 110%;
  width: 100%;
}

.contact .title-icon {
  filter: invert(1)
}

.contact textarea {
  height: 10rem;
  color: white;
}

.contact input {
  color: white;
}

.contact .row {
  position: relative;
  margin-bottom: 20px;
}


@media only screen and (max-height: 1025px) {
  .contact .row {
    margin-top: 160px;
  }
}
@media only screen and (max-height: 800px) {
  .contact .row {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .contact h1 {
    text-align: center;
  }
}

.contact .hex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  position: absolute !important;
}

/*
html, body {

  height: 200%;
  margin: 0;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  border-bottom: solid 1px white;
  position: fixed;
  top: 0; left: 0;
  z-index: 11;
  text-align: center;
}

.logo-container {
  width: 24%;
  padding-top: 25px;
}

.spacer {
  width: 30%;
}

.links {
  width: 40%;
}

.logo-container img {
  height: 50px;
  width: auto;
}

.logo-right img{
  width: 80px; height: auto;
  padding-top: 12px;
}

.homepage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-image: url(assets/pietro-jeng-n6B49lTx7NM-unsplash.jpg);
  background-position: 90% -100%;
  background-repeat: no-repeat;
  background-size: auto 90%;
}

.homepage svg {
  overflow: visible;
  z-index: 10;
}
*/
