/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


:root {
  --color-white: white;
  --color-yellow: #f4ce45e8;
  --color-dark:#1c1a18;
  --text-color-dark: #1C2139;
  --color-grey: #505050;
}

html, body {
  width: 100%;
  height: 100%;
  color: rgb(239 239 239);
  background-color: var(--color-dark);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: var(--color-white);
}


main {
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section, main {
  height: auto;
  min-height: auto;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
}

section:nth-child(even) {
  background-color: var(--color-grey);
}

section:nth-child(odd) {
  background-color: var(--color-dark);
}

section h2 {
  font-size: 63px;
  font-weight: 400;
  line-height: 69.3px;
  margin-bottom: 25.2px;
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
}

@media only screen and (max-width: 1000px) {
  section {
    height: auto;
    min-height: 100%;
  }

  section h2 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 800px) {
  section {
    height: auto;
    min-height: auto;
  }

  section h2 {
    font-size: 36px;
    text-align: center;
  }
}



h1 {
  font-family: 'Raleway', sans-serif;
  color: var(--color-white);
}

svg {
  pointer-events: none;
}

.svg-color {
  -webkit-filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
          filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(665%) hue-rotate(324deg) brightness(99%) contrast(104%);
}

.btn {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.btn:hover,
.btn:active {
  background-color: var(--color-yellow);
  color: #1c1c1c;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

/* ==================================================== Navbar ================================================================ */

nav {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  line-height: 75px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgb(28, 26, 24);
  z-index: 100;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav-left {
  margin-left: 5em;
}

.nav-right {
  margin-right: 7em;
}

nav ul a {
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: rgb(239 239 239);
}

nav ul a:hover {
  color: var(--color-yellow);
}

nav ul li {
  padding: 0px 10px;
}

.brand-logo img {
  height: 50px;
  width: auto;
  margin-top: 12.5px;
}

.icon-fixed-small {
  position: fixed;
  top: 12.5px;
  right: 35px;
}

.icon-fixed-small img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 700px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* ==================================================== Hero ================================================================ */

.hero {
  padding-top: 75px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  min-height: 100vh;
}

.hero .wrap {
  margin-top: 30%;
  margin-left: 7.5vw;
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .left-hex {
  padding-top: 20px;
  height: 15em;
  width: auto;
}

#title,
.hero h2 {
  padding-left: 25px;
  margin-top: 0px;
  font-size: 53.4px;
}

#title {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero #title span {
  color: var(--color-yellow);
  font-weight: bold;
  font-size: 4.2rem;
}

.hero .wrap h2:last-of-type {
  margin-bottom: 0;
}

#explore {
  color: rgb(239 239 239);
  background-color: rgba(0,0,0,0);
  float: right;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 53.4px;
}

#explore:hover,
#explore:active {
  color: var(--color-yellow);
}

#explore .chevron {
  font-size: 0.8em;
  color: var(--color-yellow);
}

@media only screen and (max-width: 770px) and (min-width: 701px) {
  #title,
  .hero h2 {
    font-size: 2.99rem;
  }

}
@media only screen and (max-width: 1000px) {
 .hero .wrap {
   margin-top: 50%;
   margin-left: 24px;
 }
 .hero {
   min-height: 80vh;
 }

@media only screen and (max-width: 700px) {
  .hero h2 {
    text-align: left;
  }
 .hero .wrap {
   margin-top: 18%;
   margin-left: 18px;
 }
}


 #title,
 .hero h2 {
   padding-left: 0px;
   font-size: 3.6rem;
 }

  #explore {
    display: none;
  }
}


/* ==================================================== services ================================================================ */

.services {
  min-height: 100vh;
  color: var(--text-color-dark);
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 14% 12% 10%;
}

.services h2 {
  padding-top: 0;
}

.services-content {
  z-index: 6; /* Resizing the window to certain sizes would cause the svg to stick over the services content */
}

@media only screen and (min-width: 1400px) {
.services-content {
    margin-right: 15%;
    max-width: 100%;
  }
}

.icon-inline {
  position: relative;
  top: 7px;
  margin-top: 5px;
  height: 1em;
  width: auto;
}

.services-tabbing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
}
@media only screen and (min-width: 700px) {
  .services-tabbing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services-tabbing .tabs {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
  height: auto;
  background-color: rgba(0,0,0,0);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 0;
}

.services-tabbing .tabs .indicator {
  background-color: rgba(0,0,0,0);
}

.services-tabbing .tabs .tab {
  height: 78px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.services-tabbing .tabs .tab a {
  background-color: var(--color-dark);
  color: var(--color-yellow);
  height: 78px;
  text-align: center;
  line-height: 78px;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.services-tabbing .tabs .tab a:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.services-tabbing .tabs .tab a.active {
  color: var(--color-dark);
  background-color: var(--color-yellow);
}

.service {
  max-width: 800px;
  min-height: 220px;
  -webkit-box-shadow: inset 4px 0 4px rgba(0, 0, 0, 0.148);
          box-shadow: inset 4px 0 4px rgba(0, 0, 0, 0.148);
  background-color: #f5f7f5;
  color: var(--text-color-dark);
  padding: 10px 25px;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 700px) {
  .services-tabbing .tabs {
    max-width: 700px;
  }
  .services {
    padding-bottom: 25px;
  }

  .service {
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: 285px;
  }
}

.services-content .content .service .btn {
  position:absolute;
  bottom:0.6em;
  right:0.7em;
}

.services .push-bottom {
  position: relative;
  height: 30%;
}

.service h4 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.service img {
  width: 100%;
  height: auto;
}

.services h1 {
  text-align: left;
  font-weight: 350;
}

img.title-icon {
  height: 1em;
  width: auto;
}

svg.services-background-top {
  z-index: -1;
  margin-top: 42px;
  position: absolute;
  top: 0; left: 0;
}

.services-background-hex {
  background-image: url(assets/hex_pattern_45_opacity.svg);
  z-index: -1;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}

.services-background-bottom {
  z-index: 5;
  position: absolute;
  top: 50%; left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.services .flex-balancer {
  height: 100px;
}

/* ==================================================== about ================================================================ */

#about {
  min-height: 98vh;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 128% 80%;
  position: relative;
  font-size: 1.5em;
}

.about-background-whole {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about .container {
  position: relative;
  padding-top: 50px;
  width: 50%;
  margin-right: 40%;
  z-index: 6;
}

@media only screen and (min-width: 900px) {
  .about {
    background-image: url(assets/ian-battaglia-9drS5E_Rguc-unsplash.jpg);

  }
  .about .container {
    padding-top: 8%;
    padding-bottom: 72px;
  }
}

@media only screen and (max-width: 900px) {

  .about .container {
    margin-right: 0;
    overflow: hidden;
    padding: 50px 32px 0 32px;
    width: 100%;
  }

  .about h2 {
    margin-top: 72px;
  }

}

#why-aeon {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  #why-aeon {
    height: auto;
    overflow: hidden;
  }
}


/* ==================================================== contact ================================================================ */

#why-aeon {
  min-height: 50vh;
  padding: 0 10%;
  font-size: 1.5em;
}

#why-aeon {
  padding-top: 50px;
}

@media only screen and (max-width: 1000px) {
  #why-aeon {
    height: auto;
    overflow: hidden;
  }
}


/* ==================================================== contact ================================================================ */

.contact {
  height: 98vh;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.contact .row {
  z-index: 5;
}

.contact-background {
  z-index: 5;
  position: absolute;
  top: -10%; left: 0;
  height: 110%;
  width: 100%;
}

.contact .title-icon {
  -webkit-filter: invert(1);
          filter: invert(1)
}

.contact input,
.contact textarea {
  color: var(--color-white);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contact input[type=text]:focus,
.contact input[type=email]:focus {
  border-bottom: 1px solid var(--color-yellow) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--color-yellow) !important;
          box-shadow: 0 1px 0 0 var(--color-yellow) !important;
}

.contact textarea {
  height: 10rem;
  border: 1px solid #9e9e9e !important;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.contact textarea:focus {
  border: 1px solid var(--color-yellow) !important;
}

.contact .row {
  margin-bottom: 20px;
  margin: 0;
  padding: 0 4% 20px 0;
}


#hex-svg {
  /* height: 40vh;
  width: 30vw; */
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
      transform: scaleX(-1);
  -o-object-fit: contain;
     object-fit: contain;
}

.container .hex-container {
  width: 25vw;
  margin-right: 10%;
}

.contact .btn {
  margin-top: 5px;
  float: right;
  background-color: var(--color-yellow);
  color: #1c1c1c;
}

.contact .btn:hover,
.contact .btn:active {
  background-color: #1c1c1c;
  color:  var(--color-yellow);
}

@media only screen and (max-width: 1100px) {
  .contact {
    padding-top: 0;
    /* padding-bottom: 200px; */
    height: auto;
  }

  .contact .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

  }

  .container .row {
    margin: auto;
    padding: auto;
    padding-left: 20%;
  }

  .container .hex-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .contact {
    padding-bottom: 100px;
  }
  .contact .row {
    padding-bottom: 20px;
    margin-bottom: 0;
    padding-left: 0;
  }

}
