#landingSection {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100vw;
height: 100vh;
max-width: 100%;
background-color: firebrick;
}

#landingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#landingButtton { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#landingSection h1 {
    font-family: 'Nova Square', cursive; 
}

#landingSection a {
    background-color: black;
}

#calltoaction h3 {
    font-family: 'Nova Square', cursive; 
}

#introSection {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
}

#cardSection {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    height: 35%;
    width: 30%;
}

.forthSection {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border: 1px black solid;
}

.formSection { 
    
}